@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,396;1,396&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font-family: "Noto Sans", serif;
}

.app{
  display: flex;
  position: relative;

}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: black;
}

::-webkit-scrollbar-thumb{
  background-color: black;
}

::-webkit-scrollbar-track:hover{
  background-color: aqua;
}